<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="logo-section">
                <div v-if="!endGame || !loseGame">
                    <img src="img/logo.png" alt="LOGO">
                </div>
                <div v-else>
                    <div v-if="endGame">
                        <h2>PARTITA TERMINATA, MONTEPREMI FINALE: {{points}} &euro;.</h2>
                        <div v-if="loseGame">
                            <h3>Ricarica la pagina per rigiocare.</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="question-section">
                <div v-if="!endGame || !loseGame" class="question-container">
                    <div>
                        <div class="question-box">
                            {{currentQuestion.question}}
                        </div>
                        <div class="grid-answer">
                            <div class="answer-container" v-for="(item, index) in currentQuestion.answers" :key="index">
                                <div :id="index" class="answer-box" @click="checkAnswers(item.value, index)">
                                    {{item.sentence}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div v-else>
                    <button class="reload-btn" @click="refreshPage()">Ricarica</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js"></script>
</body>

</html>